{% load static %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <header class="header-box">
        <h1><a href="/" style="color: #ffffff; text-decoration: none;">Gemeindewappen</a></h1>
        <div class="links">
            <a href="/"><i class="bi bi-house-door"></i> Übersicht</a>
            <a href="#"><i class="bi bi-shield"></i> Wappen</a>
            <a href="/map"><i class="bi bi-map"></i> Karte</a>
            <a href="#"><i class="bi bi-tags"></i> Tags</a>
            <a href="/test"><i class="bi bi-question-circle"></i> Test</a>            
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p></p>
    </footer>
</body>
</html>
