{% extends "base_generic.html" %}
{% load static %}
{% block title %}
    {{ entity.name }}
{% endblock %}

{% block content %}
<div class="entity-detail-container" style="width: 100%">
    <div class="entity-header">
        <h1>{{ entity.name }}</h1>
        <p class="wikidata-id">{{ entity.type_in_header }} in {{ entity.bundesland }}</p>
    </div>

    <div class="entity-administrative" style="margin-top: 20px;">
        <h3>Administrative Einbettung</h3>
        <p>Deutschland → {{ entity.bundesland }}{%if entity.entity is not None %} → {{ entity.entity }}{% endif %} → {{ entity.name }}</p>
    </div>
    <div class="entity-info">
        <div class="entity-coa">
            <img src="{{ wappen.coat_of_arms_image }}"
            alt="Wappen von {{ entity.name }}" style="width: 50%; margin-top: 20px;">
            <h3 style="margin-top: 20px;">Blasonierung</h3>
            <p>{{ entity.blasonierung }}</p>
            <h3 style="margin-top: 20px;">Tinkturen</h3>
            <div class="entity-tinkturen">
                <div class="tinktur or"></div>
                <div class="tinktur sable"></div>
                <div class="tinktur vert"></div>
            </div>
        </div>

        <div class="entity-description">
            <h3 style="text-align: left;">Basisinformationen</h3>
            <table class="entity-details">
                {% if entity.postal_code != "" and entity.postal_code != None %}
                <tr>
                    <th>Postleitzahl</th>
                    <td>{{ entity.postal_code }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>District Key</th>
                    <td>{{ entity.district_key }}</td>
                </tr>
                {% if area_filtered %}
                    <tr>
                        <th>Fläche</th>
                        <td>{{ area_filtered.area_value }}  km²</td>
                    </tr>
                {% endif %}
                {% if population_filtered %}
                    <tr>
                        <th>Einwohner</th>
                        <td>{{ population_filtered.population_value }} {% if population_filtered.year != None %}({{ population_filtered.year }}){% endif %}</td>
                    </tr>
                {% endif %}
            </table>

            <div class="entity-map" style="margin-top: 20px;">
                <h3 style="text-align: left";>Karte</h3>
                <iframe
                    src="https://overpass-turbo.eu/map.html?Q=%5Bout%3Ajson%5D%5Btimeout%3A25%5D%3B%0Arelation%28{{ normdaten.openstreetmap_rel_id}}%29%3B%0Aout+geom%3B"
                    width="95%"></iframe>
            </div>
            
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

            <div style="margin-top: 20px;">
                <h3 style="text-align: left";>Population</h3>
                <!-- {% for i in population %}
                    {% if i.wikidata_id == entity.wikidata_id %}
                        {{ i.year }}: {{ i.population_value }}<br>
                    {% endif %}
                {% endfor %} -->

            <canvas id="populationChart"></canvas>
            <script>
                const labels = [
                    {% for i in population %}
                        {% if i.wikidata_id == entity.wikidata_id %}
                            "{{ i.year }}"{% if not loop.last %},{% endif %}
                        {% endif %}
                    {% endfor %}
                ];

                const data = {
                    labels: labels,
                    datasets: [{
                        label: 'Population',
                        data: [
                            {% for i in population %}
                                {% if i.wikidata_id == entity.wikidata_id %}
                                    {{ i.population_value }}{% if not loop.last %},{% endif %}
                                {% endif %}
                            {% endfor %}
                        ],
                        backgroundColor: 'rgba(0, 86, 179, 0.2)',
                        borderColor: 'rgb(0, 86, 179)',
                        borderWidth: 1,
                        fill: false,
                    }]
                };

                const config = {
                    type: 'line',
                    data: data,
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                display: false,
                            }
                        },
                    }
                };

                const ctx = document.getElementById('populationChart').getContext('2d');
                new Chart(ctx, config);

            </script>

            </div> 

            
            <div class="entity-normdaten" style="margin-top: 20px;">
                <h3 style="text-align: left";>Normdaten</h3>
                    <div class="normdaten-container">
                        <!-- Obere Reihe -->
                        <div class="normdaten-row">
                            <div class="normdaten-item">
                                <a href="https://d-nb.info/gnd/{{ normdaten.gnd }}" target="_blank" title="GND">
                                    <img src="/static/icons/gnd_logo.png" alt="GND" class="icon">
                                </a>
                                <small><b>GND</b><br>{{ normdaten.gnd }}</small>
                            </div>
                            <div class="normdaten-item">
                                <a href="https://www.geonames.org/{{ normdaten.geonames_id }}" target="_blank" title="GeoNames">
                                    <img src="/static/icons/geonames.ico" alt="GeoNames" class="icon">
                                </a>
                                <small><b>Geonames</b><br>{{ normdaten.geonames_id }}</small>
                            </div>
                            <div class="normdaten-item">
                                <a href="https://www.wikidata.org/wiki/{{ normdaten.wikidata_id }}" target="_blank" title="Wikidata">
                                    <img src="/static/icons/wikidata.png" alt="Wikidata" class="icon">
                                </a>
                                <small><b>Wikidata</b><br>{{ normdaten.wikidata_id }}</small>
                            </div>
                            <div class="normdaten-item">
                                <a href="https://www.openstreetmap.org/relation/{{ normdaten.openstreetmap_rel_id }}" target="_blank" title="OpenStreetMap">
                                    <img src="/static/icons/openstreetmap.png" alt="OpenStreetMap" class="icon">
                                </a>
                                <small><b>OpenStreetMap</b><br>{{ normdaten.openstreetmap_rel_id }}</small>
                            </div>
                        </div>
                        <div class="normdaten-row">
                            <div class="normdaten-item">
                                <a href="{{ normdaten.sitelink_de }}" target="_blank" title="Wikipedia Deutsch">
                                    <img src="/static/icons/wikipedia.png" alt="Wikipedia (de)" class="icon">
                                </a>
                                <small><b>Wikipedia (de)</b></small>
                            </div>
                            <div class="normdaten-item">
                                <a href="{{ normdaten.sitelink_en }}" target="_blank" title="Wikipedia Englisch">
                                    <img src="/static/icons/wikipedia.png" alt="Wikipedia (en)" class="icon">
                                </a>
                                <small><b>Wikipedia (en)</b></small>
                            </div>
                            <div class="normdaten-item">
                                <a href="{{ normdaten.sitelink_fr }}" target="_blank" title="Wikipedia Französisch">
                                    <img src="/static/icons/wikipedia.png" alt="Wikipedia (fr)" class="icon">
                                </a>
                                <small><b>Wikipedia (fr)</b></small>
                            </div>
                        </div>
                    </div>                        
                </div>                  
            </div>
        </div>
    </div>
    <!-- <a href="{% url 'entity_list' %}" class="nav-link">Zurück zur Landkreisliste</a> -->
</div>
{% endblock %}
