/* Allgemeine Layout-Einstellungen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
    color: #333;
    line-height: 1.6;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    margin: 0;
    flex-direction: column;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

main {
    width: 100%;
    max-width: 1200px;
    background-color: #f4f7fc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 0px;
}

footer {
    margin-top: 20px;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

/* Headerelement (base_generic) */
.header-box {
    position: sticky;
    top: 0;
    background-color: #0056b3;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    z-index: 1000;
}

.header-box h1 {
    font-size: 1.8rem; 
    color: #ffffff;
    margin-top: 6px;
    margin-left: 15px;
    text-align: left;
}

.header-box .links {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
    margin-right: 10px;
    margin-left: 10px;
}

.header-box .links a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    width: 40%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.header-box .links a i {
    font-size: 20px;
    margin-right: 6px;
}

.header-box .links a:hover {
    background-color: #e6e6e6;
}


/* Entity-Stylings */
.entity-detail-container {
    width: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 0px;
}

.entity-header {
    text-align: center;
    margin-bottom: 20px;
}

.entity-header h1 {
    font-size: 2.5rem;
    color: #0056b3;
}

.wikidata-id {
    font-size: 1rem;
    color: #6c757d;
}

.entity-info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.entity-description, .entity-population, .entity-other-info, .entity-coa {
    flex: 1 1 30%;
    min-width: 250px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.entity-description h2,
.entity-population h2,
.entity-other-info h2 {
    margin-bottom: 10px;
    color: #333;
}

.entity-description p,
.entity-population p,
.entity-other-info p {
    font-size: 1rem;
    color: #555;
}

@media (max-width: 768px) {
    .entity-info {
        flex-direction: column;
        align-items: stretch;
    }

    .entity-description, .entity-population, .entity-other-info {
        flex: 1 1 100%;
        min-width: 100%;
    }

    .entity-header h1 {
        font-size: 2rem;
    }
}

.nav-link {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}

.nav-link:hover {
    background-color: #0056b3;
}


/* Normdaten-Stylings */
.normdaten-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
}

.normdaten-row {
    display: flex;
    justify-content: center;
    gap: 60%;
}

.normdaten-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25px;
    white-space: nowrap;
}

.normdaten-item .icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-bottom: 0px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.normdaten-item a:hover .icon {
    transform: scale(1.1);
}

.normdaten-item small {
    font-size: 9px;
    color: #333;
    margin-bottom: 20px;
}